#controls {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    .hidden {
        opacity: 0;
        width: 0;
        border: 0;
    }
    .active {
        opacity: 1;
        width: fit-content;
        z-index: 5;
    }
    fieldset {
        display: flex;
        justify-content: space-around;
        border-radius: 10px;
        flex-grow: 1;
        &.states {
            display: block;
            div {
                width: 2rem;
                height: 2rem;
                translate: 0 -20%;
                margin: auto;
                &.hidden {
                    opacity: 0;
                    width: 0;
                    display: none;
                }
                &#success {
                    background-color: blue;
                    border-radius: 1rem;
                }
                &#failed {
                    border-radius: 50%;
                    border: 0.45rem solid orangered;
                    background-color: transparent;
                    box-sizing: border-box;
                }
                &#processing {
                    aspect-ratio: 1.07;
                    clip-path: polygon(50% 0,80% 100%,0 39%,100% 39%,20% 100%);
                    background: radial-gradient(#DFF549,#CE1818);
                }
                &#changes {
                    --c: #7AB317;
                    aspect-ratio: 1;
                    box-shadow: 0 0 0 0.2rem inset var(--c);
                    border-image: conic-gradient(var(--c) 0 0) 50%/calc(50% - 0.18rem);
                    clip-path: circle(); 
                }
            }
        }
    }
    label {
        border: #808080 1px solid;
        border-radius: 4px;
        padding: 4px;
        background: #e9e9ed;
        font-weight: 500;
        }
    }
    form#downloadForm {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-self: center;
        z-index: 5;
        translate: 0 3rem;
        row-gap: 0.1rem;
        background-color: lightgray;
        border-radius: 5px;
        padding: 5px;
        input {
            padding: 4px;
            border-radius: 4px;
        }
        div {
            padding: 4px;
            border-radius: 4px;
            font-size: small;
        }
    }
    select#sampleSelection {
        z-index: 5;
        position: absolute;
        translate: 0 2rem;
    }
    #filePicker {
        z-index: 5;
        position:absolute;
        translate: 0 3rem;
        padding:5px;
        border-radius: 5px;
        background-color: lightgray;
    }
    .control {
        display: flex;
        flex-direction: column;
    }
#content {
    display: flex;
    #renderFrame, #editor {
      height: 89vh;
      width: 48vw;
    }
    #editor-panel {
      height: 89vh;
      width: 48vw;
    }
}
#downLoadName {
    border-width: 1px 0 1px 1px;
    margin-right: 0;
    padding-right: 0;
    border-radius: 5px 0 0 5px;
}
#format {
    margin-left: 0;
    padding-left: 0;
    translate: -4px 0;
    border-radius: 0 5px 5px 0;
    border-width: 1px 1px 1px 0;
    width: 4rem;
}